<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据结构知识点管理系统</title>
</head>
<body>
<h2>数据结构知识点管理系统<h2>

    <div>
        <form action="/zhanyuduilie" method="post">
            <input type="submit" value="栈与队列">
        </form>
    </div>

    <div>
        <form action="/shuzu" method="post">
            <input type="submit" value="数组">
        </form>
    </div>

    <div>
        <form action="/xianxingbiaoyulianbiao" method="post">
            <input type="submit" value="线性表">
        </form>
    </div>


    <div>
        <form action="/shu" method="post">
            <input type="submit" value="树">
        </form>
    </div>

    <div>
        <form action="/tu" method="post">
            <input type="submit" value="图">
        </form>
    </div>

    <div>
        <form action="/chazhao" method="post">
            <input type="submit" value="数据结构之查找">
        </form>
    </div>

    <div>
        <form action="/paixu" method="post">
            <input type="submit" value="数据结构之排序">
        </form>
    </div>

    <div>
        <form action="/login" method="post">
            <input type="submit" value="返回">
        </form>
        <h2 th:utext="${msg2}"></h2>
    </div>


</body>
</html>