<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据结构之排序</title>
</head>
<h2>数据结构之排序知识点总结<h2>
    <body>
    <div>
        <h4>排序的基本概念和方法<h4>
            <p> 排序:计算机内经常进行的一种操作，其目的是将一组“无序”的记录序列调整为“有序”的记录序列。   </p>
            <p> 排序算法的稳定性:键值相等的记录排序后保持原来的顺序，则稳定；否则不稳定。</p>
            <p> 按待排序文件规模的大小分类：内部排序--在内部进行的排序外部排序--在外存设备上进行的排序。</p>
            <p> 排序方法的分类：插入类(如直接插入排序、折半插入排序、2-路插入排序、希尔排序)，交换类 (如冒泡排序、 快速排序)，
            选择类(如简单选择排序、锦标赛排序、堆排序)，归并类(如归并排序)，其它方法(如基数排序) </p>
            <p> 在排序的过程中通常需进行下列两种基本操作: </p>
            <p> (1)比较两个关键字的大小。 </p>
            <p> (2)将记录从一个位置移动到另一个位置。 </p>
            <p> 待排序的记录可有以下三种存储式: </p>
            <p> (1)待排序的一组记录存放在地址连续的一组存储单元上。</p>
            <p> (2) 一组待排序的记录存放在静态链表中，记录之间的次序关系由指针实现。</p>
            <p> (3)待排序记录本身存储在一组地址连续的存储单元内，同时有另一个指示各个记录存储位置的地址向量。</p>
            <p> 评价排序算法好坏的标准: </p>
            <p> (1)算法执行时所需要的时间(最重要的标准)； </p>
            <p> (2)执行算法所需要的附加空间。</p>
    </div>
    <div>
        <h4>一些排序算法<h4>
            <p>直接插入排序</p>
            <p>  基本思想：依次从待排序序列中取出一个元素，插入到有序序列的适当位置上。</p>
            <p>  冒泡排序 </p>
            <p>  基本思想：每次都是相邻的两个数进行比较，将较大者交换到后一个位置。对n个数的序列进行n-1次比较后最大者被交换到了最后一个位置，
                这样就完成了一趟冒泡排序。</p>
            <p>快速排序</p>
            <p>  快速排序思想:先从待排序序列中找一个元素作为中心点或者说界点，比如选第一个元素。设这个中心点为y。
                序列中的其他元素与y进行比较，大于等于y的放在它的右边，小于y的放在它的左边。然后再对两个子序列递归的快速排序，
                直到每个子序列只剩一个元素。</p>
            <p>简单选择排序</p>
            <p>  基本思想首先，从待排序序列中选出最小者并交换到第一个位置(第一次选择最小者) ;
                接下来，从剩下的未排序序列中选出最小者并交换到第二个位置(第二次选择第二小);
                以此类推，对于含n个元素的序列进行n-1次选择之后就排好序了。</p>
            <p>堆排序算法</p>
            <p>  堆排序的基本思想：将无序序列建成一个堆，输出堆顶元素，以最后一个元素代替堆顶元素，
                将剩余的n-1个元素再调整成一个堆，重复执行，直到整个堆剩一个元素。</p>
            <p>归并排序算法</p>
            <p>  归并排序算法的基本思想：初始无序序列看成n个有序子序列，每个子序列长度为1；两辆合并，
                得到n/2个长度为2或1的有序子序列；重复步骤2直至得到一个长度为n的有序序列为止。</p>
            <p>基数排序算法</p>
            <p>  基数排序算法的基本思想：待排序序列中，每个元素有d个数值组成，每个数值的可能取rd个值。从最低位数值开始，
                根据每个数值的不同将待排序列中的元素分配到rd个队列中，然后再收集，重复d次，完成排列。</p>
    </div>

    </body>
    <style>
        p{
            font-size:20px;
        }
    </style>
</html>