<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数组</title>
    <h2>数组知识点总结<h2>
<body>
<div>
    <h4>数组概念<h4>
        <p>  数组是有序的元素序列。若将有限个类型相同的变量的集合命名，那么这个名称为数组名。组成数组的各个变量称为数组的分量，
            也称为数组的元素，有时也称为下标变量。用于区分数组的各个元素的数字编号称为下标。数组是在程序设计中，为了处理方便，
            把具有相同类型的若干元素按有序的形式组织起来的一种形式。这些有序排列的同类数据元素的集合称为数组。   </p>
        <p>  数组是一种线性表数据结构，它用一组连续的内存空间来存储一组具有相同类型的数据。  </p>
</div>
<div>
    <h4>数组优缺点<h4>
        <p>  数组的优点：存取速度快。   </p>
        <p>  数组的缺点：事先必须知道数组的长度，插入删除元素很慢，空间通常是有限制的，需要大块连续的内存块，插入删除元素的效率很低。  </p>
</div>
<div>
    <h4>数组的存储<h4>
        <p>  顺序存储   </p>
        <p>  行序优先：行序为主的存储。   </p>
        <p>  列序优先：列序为主的存储。  </p>
        <p>  压缩存储   </p>
        <p>  若多个数据元素值都相等，则只分配一个存储空间，并且零元素不分配存储空间。   </p>
</div>

</body>
<style>
    p{
        font-size:20px;
    }
</style>
</html>