<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栈与队列</title>
</head>
<h2>栈与队列知识点总结<h2>
<body>
<div>
    <h4>栈与队列概念<h4>
        <p>  栈：后进先出（LIFO-last in first out）:最后插入的元素最先出来。   </p>
        <p>堆栈简称栈，是一种运算受限的线性表，重点掌握其后进先出的特点。</p>
        <p>  队列：先进先出（FIFO-first in first out）:最先插入的元素最先出来。  </p>
        <p>队列也是一种操作受限制的线性表，重点掌握其先进先出的特点。表的前端只允许进行删除操作，
        表的后端进行插入操作。进行插入操作的端称为队尾，进行删除操作的端称为队头。</p>
</div>
<div>
    <h4>进栈与出栈<h4>
        <p>  进栈操作：将原本栈顶指向的节点交由新节点来指向，栈顶指向新加入的节点。</p>
        <p>  出栈操作：在出栈之前看看该栈是否为空，不为空才出栈将栈顶的元素的指针(指向下一个节点)赋值给栈顶指针(完成出栈)。 </p>
</div>

<div>
    <h4>栈与队列区别<h4>
        <p>  1、队列先进先出，栈先进后出。 </p>
        <p>  2、对插入和删除操作的"限定"不同。</p>
        <p>     栈是限定只能在表的一端进行插入和删除操作的线性表；队列是限定只能在表的一端进行插入和在另一端进行删除操作的线性表。</p>
        <p>  3、遍历数据速度不同。</p>
        <p>  栈只能从头部取数据，也就最先放入的需要遍历整个栈最后才能取出来，而且在遍历数据的时候还得为数据开辟临时空间，保持数据在遍历前的一致性。   </p>
        <p>  队列则不同，它基于地址指针进行遍历，而且可以从头或尾部开始遍历，但不能同时遍历，无需开辟临时空间，因为在遍历的过程中不影像数据结构，速度要快的多。 </p>
</div>
<div>
    <h4>栈与队列示意图<h4>
        <img src="../static/栈.jpg" width="423" height="324" alt=" ">
        <img src="../static/队列.jpg" width="553" height="184" alt=" ">
</div>
</body>
<style>
    p{
        font-size:20px;
    }
</style>
</html>